openapi: 3.0.3
info:
  title: DEBUG_Assist API
  description: |
    API de diagnóstico inteligente para frontend, backend e SQL.

    Envie um erro ou log para a API e receba de volta a causa raiz, nível de severidade e sugestões de correção em linguagem humana.

    ## Como começar

    1. Crie uma conta em [debugassist.com.br/dashboard/signup.html](https://debugassist.com.br/dashboard/signup.html)
    2. Faça login e copie sua **API Key** no dashboard
    3. Use a API Key no header `Authorization: Bearer SUA_API_KEY`
    4. Envie erros via `POST /v1/diagnosticos`

    ## SDK (Node.js)

    Para captura automática de erros em runtime, instale o SDK:

    ```bash
    npm install debug-assist-sdk
    ```

    ```js
    const DebugAssist = require('debug-assist-sdk');

    // Captura automaticamente uncaughtException e unhandledRejection
    DebugAssist.init({ apiKey: 'SUA_API_KEY', projectName: 'meu-projeto' });

    // Ou envie manualmente
    const client = new DebugAssist({ apiKey: 'SUA_API_KEY' });
    await client.report({ tipo: 'silent_backend_error', mensagem: err.message });
    ```

    ## SDK (Python)

    Sem dependências externas — funciona com qualquer app Python 3.8+:

    ```bash
    pip install debug-assist-sdk
    ```

    ```python
    from debug_assist import DebugAssist

    # Captura automaticamente qualquer exceção não tratada que derrube o app
    DebugAssist.init(api_key='SUA_API_KEY', project_name='meu-projeto')

    # Ou envie manualmente
    client = DebugAssist(api_key='SUA_API_KEY')
    client.report(tipo='silent_backend_error', mensagem=str(e))
    ```

    ## SDK (Java)

    Java 11+, sem dependências externas:

    ```xml
    <dependency>
      <groupId>com.debugassist</groupId>
      <artifactId>debug-assist</artifactId>
      <version>1.0.0</version>
    </dependency>
    ```

    ```java
    import com.debugassist.DebugAssist;
    DebugAssist.init(); // lê DEBUG_ASSIST_API_KEY do ambiente
    ```

    ## SDK (Go)

    Go 1.21+, sem dependências externas:

    ```bash
    go get github.com/mirutee/debug-assist/sdk/go
    ```

    ```go
    import debugassist "github.com/mirutee/debug-assist/sdk/go"

    func main() { debugassist.Wrap(run) }
    func run()   { /* seu código */ }
    ```

    ## SDK (PHP)

    PHP 7.4+, sem Composer:

    ```bash
    composer require debug-assist/debug-assist
    ```

    ## SDK (Ruby)

    MRI Ruby 2.7+, sem gems externas:

    ```bash
    gem install debug_assist
    ```

    ```ruby
    require 'debug_assist' # só isso
    ```

    ## SDK (C#)

    .NET 6+, sem pacotes externos:

    ```bash
    dotnet add package DebugAssist.SDK
    ```

    ```csharp
    using DebugAssistSDK;
    DebugAssist.EnsureInitialized(); // topo do Program.cs
    ```

    ## SDK (Browser / Frontend)

    Captura `window.onerror` e `unhandledrejection` automaticamente. Suporta React, Vue e Svelte.

    **Via CDN (zero build):**

    ```html
    <script src="https://debugassist.com.br/sdk/browser.js"
            data-api-key="SUA_API_KEY"
            data-project="meu-app"></script>
    ```

    **Via npm:**

    ```bash
    npm install debug-assist-browser
    ```

    ```js
    import DebugAssist from 'debug-assist-browser';
    DebugAssist.init({ apiKey: 'SUA_API_KEY', projectName: 'meu-app' });
    ```

    **React — ErrorBoundary:**

    ```jsx
    import { ErrorBoundary } from 'debug-assist-browser/react';
    <ErrorBoundary apiKey="SUA_API_KEY" projectName="meu-app">
      <App />
    </ErrorBoundary>
    ```

    **Vue 3:**

    ```js
    import DebugAssistPlugin from 'debug-assist-browser/vue';
    app.use(DebugAssistPlugin, { apiKey: 'SUA_API_KEY', projectName: 'meu-app' });
    ```

    **Svelte:**

    ```js
    import { initDebugAssist } from 'debug-assist-browser/svelte';
    initDebugAssist({ apiKey: 'SUA_API_KEY', projectName: 'meu-app' });
    ```

    ## Limites por plano

    | Plano  | Diagnósticos/mês | Preço     |
    |--------|-----------------|-----------|
    | Free   | 10              | Grátis    |
    | Pro    | 1.000           | R$99/mês  |
    | Scale  | 10.000          | R$349/mês |

  version: 1.0.0
  contact:
    email: contato@debugassist.com.br

servers:
  - url: https://debugassist.com.br
    description: Produção
  - url: http://localhost:3000
    description: Local

tags:
  - name: Auth
    description: Cadastro, login e perfil do usuário
  - name: Diagnósticos
    description: Envio e histórico de diagnósticos
  - name: Billing
    description: Checkout, planos e portal de assinatura (Stripe)
  - name: Feedback
    description: Envio de feedback e sugestões para a equipe
  - name: Health
    description: Status da API

paths:
  /health:
    get:
      tags: [Health]
      summary: Health check
      responses:
        "200":
          description: API operacional
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true

  /v1/auth/signup:
    post:
      tags: [Auth]
      summary: Criar conta
      description: Cria uma nova conta. Após o cadastro, faça login para obter o token e acessar sua API Key no dashboard.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, senha]
              properties:
                email:
                  type: string
                  format: email
                  example: dev@empresa.com
                senha:
                  type: string
                  minLength: 6
                  example: minhasenha123
      responses:
        "201":
          description: Conta criada com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  mensagem:
                    type: string
                    example: "Conta criada com sucesso! Você já pode fazer login."
        "400":
          description: Email inválido, senha curta ou email já cadastrado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Erro"
              examples:
                emailJaCadastrado:
                  summary: Email já cadastrado
                  value:
                    erro: "Email já cadastrado"
                senhaInvalida:
                  summary: Senha muito curta
                  value:
                    erro: "Senha inválida. Mínimo 6 caracteres."

  /v1/auth/login:
    post:
      tags: [Auth]
      summary: Login
      description: Autentica o usuário e retorna um token JWT. Use este token para acessar `/v1/auth/me` e obter sua API Key.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, senha]
              properties:
                email:
                  type: string
                  format: email
                  example: dev@empresa.com
                senha:
                  type: string
                  example: minhasenha123
      responses:
        "200":
          description: Login bem-sucedido
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    description: JWT para usar no header Authorization ao chamar /v1/auth/me
                    example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                  token_type:
                    type: string
                    example: Bearer
        "401":
          description: Email ou senha incorretos
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Erro"
        "403":
          description: Email não confirmado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Erro"
              example:
                erro: "Confirme seu email antes de fazer login"

  /v1/auth/me:
    get:
      tags: [Auth]
      summary: Perfil e API Key
      description: |
        Retorna os dados do usuário autenticado, incluindo a **API Key** necessária para chamar `POST /v1/diagnosticos`.

        Use o token JWT retornado pelo login no header Authorization.
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Dados do usuário
          content:
            application/json:
              schema:
                type: object
                properties:
                  email:
                    type: string
                    example: dev@empresa.com
                  plano:
                    type: string
                    enum: [free, pro, scale]
                    example: free
                  uso_mensal:
                    type: integer
                    example: 12
                  limite_mensal:
                    type: integer
                    description: -1 significa ilimitado
                    example: 10
                  api_key:
                    type: string
                    description: Use esta chave no header Authorization das chamadas a POST /v1/diagnosticos
                    example: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
        "401":
          description: Token inválido ou ausente
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Erro"

  /v1/diagnosticos:
    post:
      tags: [Diagnósticos]
      summary: Enviar diagnóstico
      description: |
        Envia um erro ou log para análise e recebe diagnóstico com causa raiz, severidade e sugestões de correção.

        **Autenticação:** use sua **API Key** (obtida em `/v1/auth/me`) no header `Authorization: Bearer SUA_API_KEY`.

        > Nota: este endpoint usa API Key, não o token JWT do login.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DiagnosticoRequest"
            examples:
              backendError:
                summary: Erro silencioso de backend
                value:
                  tipo: silent_backend_error
                  mensagem: "Cannot read properties of undefined (reading 'id')"
                  contexto:
                    rota: /usuarios/99
                    method: GET
              hydration:
                summary: Erro de hidratação (React/Next.js)
                value:
                  tipo: hydration_error
                  mensagem: "Hydration failed because the initial UI does not match what was rendered on the server"
                  contexto:
                    framework: Next.js
                    pagina: /produtos
              sqlLento:
                summary: Query SQL lenta
                value:
                  tipo: sql_analysis
                  mensagem: ""
                  dados:
                    query: "SELECT * FROM pedidos JOIN usuarios ON pedidos.usuario_id = usuarios.id"
                    tempo_execucao: 1200
                    tabela: pedidos
              fetchError:
                summary: Erro de requisição no frontend
                value:
                  tipo: request_error
                  mensagem: "Failed to fetch"
                  contexto:
                    url: /api/checkout
                    status: 0
      responses:
        "200":
          description: Diagnóstico gerado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DiagnosticoResponse"
        "400":
          description: Campo `tipo` ausente ou inválido
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Erro"
        "401":
          description: API Key ausente ou inválida
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Erro"
              example:
                erro: "API Key inválida"
        "429":
          description: Cota mensal esgotada
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Erro"
              example:
                erro: "Cota mensal esgotada. Faça upgrade do seu plano."

  /v1/diagnosticos/historico:
    get:
      tags: [Diagnósticos]
      summary: Histórico de diagnósticos
      description: |
        Retorna os últimos 50 diagnósticos enviados pelo usuário autenticado, ordenados do mais recente para o mais antigo.

        **Autenticação:** use o token JWT do login (não a API Key).

        Suporta polling incremental via parâmetro `after` — passe o `criado_em` do item mais recente para receber apenas os novos.
      security:
        - bearerAuth: []
      parameters:
        - name: after
          in: query
          required: false
          description: Timestamp ISO 8601. Retorna apenas diagnósticos criados após esta data. Útil para polling.
          schema:
            type: string
            format: date-time
            example: "2026-03-23T10:00:00Z"
      responses:
        "200":
          description: Lista de diagnósticos
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DiagnosticoHistorico"
        "401":
          description: Token inválido ou ausente
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Erro"

  /v1/auth/ai-config:
    get:
      tags: [Auth]
      summary: Consultar configuração de IA (Scale)
      description: |
        Retorna o provider de IA configurado pelo usuário Scale. Nunca retorna a chave em si.

        **Requer:** plano Scale. **Autenticação:** JWT.
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Configuração atual
          content:
            application/json:
              schema:
                type: object
                properties:
                  ai_provider:
                    type: string
                    nullable: true
                    enum: [openai, anthropic, groq, null]
                    example: openai
                  ai_key_configured:
                    type: boolean
                    description: true se há uma chave de IA salva
                    example: true
        "401":
          description: Token ausente ou inválido
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Erro"
    put:
      tags: [Auth]
      summary: Salvar ou remover chave de IA (Scale)
      description: |
        Salva ou remove a chave de IA do usuário Scale (BYOK — Bring Your Own Key).

        - Para **salvar**: passe `ai_key` (mín. 10 chars) e `ai_provider` (`openai`, `anthropic` ou `groq`).
        - Para **remover**: passe `ai_key: null` ou `ai_key: ""`.

        A chave é armazenada encriptada (AES-256-GCM) e nunca é retornada em nenhuma resposta.

        **Requer:** plano Scale. **Autenticação:** JWT.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ai_key:
                  type: string
                  nullable: true
                  description: Chave de API do provedor de IA. Passe null ou "" para remover.
                  example: "sk-proj-abc123..."
                ai_provider:
                  type: string
                  enum: [openai, anthropic, groq]
                  description: Provedor de IA correspondente à chave
                  example: openai
            examples:
              salvar:
                summary: Salvar chave OpenAI
                value:
                  ai_key: "sk-proj-abc123..."
                  ai_provider: openai
              remover:
                summary: Remover chave
                value:
                  ai_key: null
      responses:
        "200":
          description: Configuração atualizada
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
                  ai_key_configured:
                    type: boolean
                    example: true
                  ai_provider:
                    type: string
                    nullable: true
                    example: openai
        "400":
          description: ai_key ou ai_provider inválidos
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Erro"
        "401":
          description: Token ausente ou inválido
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Erro"
        "403":
          description: Recurso disponível apenas no plano Scale
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Erro"
              example:
                erro: "Configuração de IA disponível apenas no plano Scale."

  /v1/feedback:
    post:
      tags: [Feedback]
      summary: Enviar feedback
      description: |
        Envia uma mensagem de feedback ou sugestão para a equipe do DEBUG_Assist.

        Autenticação é opcional — usuários logados têm seu email identificado automaticamente.
      security:
        - {}
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [mensagem]
              properties:
                mensagem:
                  type: string
                  minLength: 1
                  maxLength: 2000
                  description: Texto do feedback (máx. 2000 caracteres)
                  example: "Seria ótimo ter suporte a diagnósticos de GraphQL!"
      responses:
        "200":
          description: Feedback enviado com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    example: true
        "400":
          description: Mensagem ausente ou inválida
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Erro"
              examples:
                mensagemAusente:
                  summary: Mensagem não informada
                  value:
                    erro: "mensagem é obrigatória"
                mensagemLonga:
                  summary: Mensagem muito longa
                  value:
                    erro: "mensagem excede 2000 caracteres"
        "429":
          description: Muitas requisições
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Erro"

  /v1/billing/portal:
    post:
      tags: [Billing]
      summary: Abrir portal de assinatura
      description: |
        Cria uma sessão no Stripe Billing Portal e retorna a URL de redirecionamento.

        Permite ao usuário cancelar a assinatura, atualizar o método de pagamento e visualizar faturas — tudo gerenciado pelo Stripe.

        **Requer:** usuário com plano pago (Pro ou Scale). Retorna 400 para contas Free.

        **Autenticação:** JWT (token do login, não a API Key).
      security:
        - bearerAuth: []
      requestBody:
        required: false
      responses:
        "200":
          description: URL do portal gerada com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                    format: uri
                    example: "https://billing.stripe.com/session/test_abc123"
        "400":
          description: Usuário não possui assinatura ativa
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Erro"
              example:
                erro: "Nenhuma assinatura ativa"
        "401":
          description: Token ausente ou inválido
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Erro"
        "502":
          description: Erro ao comunicar com o Stripe
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Erro"
              example:
                erro: "Erro ao abrir portal. Tente novamente."

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: |
        Dois tipos de token são usados:
        - **API Key** — para `POST /v1/diagnosticos`. Obtida em `/v1/auth/me`.
        - **JWT** — para rotas do dashboard (`/v1/auth/me`, `/v1/diagnosticos/historico`, `/v1/billing/portal`). Obtido via `/v1/auth/login`.

  schemas:
    Erro:
      type: object
      properties:
        erro:
          type: string
          example: "Mensagem de erro"

    DiagnosticoRequest:
      type: object
      required:
        - tipo
      properties:
        tipo:
          type: string
          description: Categoria do erro
          enum:
            - hydration_error
            - request_error
            - silent_error
            - responsive_error
            - performance_issue
            - silent_backend_error
            - contract_error
            - external_api_error
            - sql_analysis
        mensagem:
          type: string
          description: "Mensagem de erro (ex: err.message). Para sql_analysis, deixe vazio e use o campo dados."
          example: "Cannot read properties of undefined (reading 'id')"
        contexto:
          type: object
          description: Dados adicionais de contexto (rota, método, plataforma, etc.)
          example:
            rota: /usuarios/99
            method: GET
        dados:
          type: object
          description: Usado apenas para sql_analysis. Passe a query e o tempo de execução.
          properties:
            query:
              type: string
              example: "SELECT * FROM users"
            tempo_execucao:
              type: integer
              description: Tempo em milissegundos
              example: 1200

    DiagnosticoResponse:
      type: object
      properties:
        problema:
          type: string
          description: Descrição do problema detectado
          example: "Acesso a propriedade de objeto null ou undefined"
        causa:
          type: string
          description: Causa raiz identificada
          example: "O objeto `usuario` não foi verificado antes de acessar sua propriedade"
        nivel:
          type: string
          description: Severidade do problema
          enum: [baixo, médio, alto]
          example: alto
        categoria:
          type: string
          enum: [frontend, backend, sql, desconhecido]
          example: backend
        sugestoes:
          type: array
          description: Lista de ações recomendadas para corrigir o problema
          items:
            type: string
          example:
            - "Verifique se o objeto existe antes de acessar suas propriedades"
            - "Use optional chaining: usuario?.id"
            - "Retorne 404 quando o recurso não for encontrado"
        confianca:
          type: number
          description: Nível de confiança do diagnóstico, de 0 a 1
          minimum: 0
          maximum: 1
          example: 0.95
        upgrade_hint:
          type: string
          description: |
            **(Plano Free)** Presente quando existem sugestões adicionais disponíveis nos planos pagos.
            Ausente em Pro, Scale e Enterprise.
          example: "Existem mais 2 sugestão(ões) disponível(is) no plano Pro."
        analise_aprofundada:
          type: string
          description: |
            **(Plano Scale)** Análise aprofundada gerada por IA (BYOK).
            Presente apenas quando a chave de IA está configurada e o enriquecimento foi bem-sucedido.
          example: "A causa provável é uma condição de corrida na inicialização do módulo. Considere usar lazy initialization ou um singleton thread-safe."
        ia_provider:
          type: string
          description: |
            **(Plano Scale)** Provedor de IA utilizado no enriquecimento.
            Presente junto com `analise_aprofundada`.
          enum: [openai, anthropic, groq]
          example: openai
        ia_timeout:
          type: boolean
          description: |
            **(Plano Scale)** `true` quando a chamada de IA excedeu o timeout de 5s.
            O diagnóstico base ainda é retornado normalmente.
          example: true
        ia_aviso:
          type: string
          description: |
            **(Plano Scale)** Presente quando nenhuma chave de IA está configurada.
            O diagnóstico base é retornado sem enriquecimento.
          example: "Nenhuma chave de IA configurada. Configure em /v1/auth/ai-config para habilitar análise aprofundada."

    DiagnosticoHistorico:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
        tipo:
          type: string
          example: "silent_backend_error"
        mensagem:
          type: string
          example: "Cannot read properties of undefined"
        contexto:
          type: object
        resposta:
          $ref: "#/components/schemas/DiagnosticoResponse"
        criado_em:
          type: string
          format: date-time
          example: "2026-03-23T10:00:00Z"
